<div class="py-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-3" *ngFor="let imgData of data" >
        <div class="card box-shadow">
          <img class="card-img-top" src="{{imgData.img_src}}">
          <div class="card-body">
            <p class="card-text"> Date on earth - {{imgData.earth_date}} <br>
              Rover Camera {{imgData.camera.full_name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small class="text-muted">{{imgData.camera.name}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


